<a href="https://colab.research.google.com/github/yujeeb/python/blob/main/Mike_Dane_python_freecodecamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

# Installing Python and PyCharm

# Setup & Hello World

# Drawing a Shape

# Variables & Data Types

# Working with Strings

# Working with Numbers

# Getting Input From Users

# Building a Basic Calculator

# Mad Libs Game

# Lists

# List Functions

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]

print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.extend(lucky_numbers)
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 4, 8, 15, 16, 23, 42]

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.append("Creed")
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 'Creed']

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.insert(1, "Kelly")
print(friends)

['Kevin', 'Kelly', 'Karen', 'Jim', 'Oscar', 'Toby']

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.remove("Jim")
print(friends)

['Kevin', 'Karen', 'Oscar', 'Toby']

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.clear()
print(friends)

[]

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]
friends.pop()
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar']

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]

print(friends.index("Kevin"))

0

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]

print(friends.index("Oscar"))

3

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Oscar", "Toby"]

print(friends.index("Mike"))

ValueError: ignored

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]

print(friends.count("Jim"))

2

In [ ]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
friends = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
friends.sort()
print(friends)

['Jim', 'Jim', 'Karen', 'Kevin', 'Oscar', 'Toby']

In [ ]:
lucky_numbers = [42, 8, 15, 16, 23]
friends = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
lucky_numbers.sort()
print(lucky_numbers)

In [ ]:
lucky_numbers = [42, 8, 15, 16, 23]
friends = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]
lucky_numbers.reverse()
print(lucky_numbers)

In [ ]:
lucky_numbers = [42, 8, 15, 16, 23]
friends = ["Kevin", "Karen", "Jim", "Jim", "Oscar", "Toby"]

friends2 = friends.copy()

print(friends2)

# Tuples

In [ ]:
coordinates = (4, 5)

print(coordinates[0])

4

In [ ]:
coordinates = (4, 5)

print(coordinates[1])

5

In [ ]:
coordinates = (4, 5)
coordinates[1] = 10
print(coordinates[1])

TypeError: ignored

In [ ]:
coordinates = [(4, 5), (6, 7), (80, 34)]
coordinates[1] = 10
print(coordinates[1])

# Functions

In [ ]:
def sayhi():
  print("Hello User")

sayhi()

Hello User

In [ ]:
def sayhi():
  print("Hello User")


print("Top")
sayhi()
print("Bottom")

Top
Hello User
Bottom

In [ ]:
def say_hi():
  print("Hello User")

say_hi()

In [ ]:
def say_hi(name):
  print("Hello " + name)

say_hi("Mike")
say_hi("Steve")

Hello Mike
Hello Steve

In [ ]:
def say_hi(name, age):
  print("Hello " + name + ", you are " + age)

say_hi("Mike", "35")
say_hi("Steve", "70")

Hello Mike, you are 35
Hello Steve, you are 70

In [ ]:
def say_hi(name, age):
  print("Hello " + name + ", you are " + str(age))

say_hi("Mike", 35)
say_hi("Steve", 70)

Hello Mike, you are 35
Hello Steve, you are 70

# Return Statement

In [ ]:
def cube(num):
  num*num*num


cube(3)

None

In [ ]:
def cube(num):
  num*num*num


print(cube(3))

In [ ]:
def cube(num):
  return num*num*num


print(cube(3))

27

In [ ]:
def cube(num):
  return num*num*num


print(cube(4))

64

In [ ]:
def cube(num):
  return num*num*num

result = cube(4)
print(result)

64

In [ ]:
def cube(num):
  return num*num*num    # python breaks the code from this statement
  print("code")    # doesn't print 

result = cube(4)
print(result)

64

# If Statements

I wake up
If I'm hungry 
  I eat breakfast

In [ ]:
is_male = True

if is_male:
  print("You are a male")

You are a male

In [ ]:
is_male = False

if is_male:
  print("You are a male")

In [ ]:
is_male = False

if is_male:
  print("You are a male")
else:
  print("You are not a male")

You are not a male

In [ ]:
is_male = True

if is_male:
  print("You are a male")
else:
  print("You are not a male")

You are a male

In [ ]:
is_male = True
is_tall = True

if is_male or is_tall:
  print("You are a male or tall or both")
else:
  print("You are neither male nor tall")

You are a male or tall or both

In [ ]:
is_male = False
is_tall = True

if is_male or is_tall:
  print("You are a male or tall or both")
else:
  print("You are neither male nor tall")

You are a male or tall or both

In [ ]:
is_male = False
is_tall = False

if is_male or is_tall:
  print("You are a male or tall or both")
else:
  print("You are neither male nor tall")

You are neither male nor tall

In [ ]:
is_male = False
is_tall = False

if is_male and is_tall:
  print("You are a tall male")
else:
  print("You are either not male or not tall or both")

You are either not male or not tall or both

In [ ]:
is_male = True
is_tall = True

if is_male and is_tall:
  print("You are a tall male")
else:
  print("You are either not male or not tall or both")

In [ ]:
is_male = True
is_tall = False

if is_male and is_tall:
  print("You are a tall male")
else:
  print("You are either not male or not tall or both")

In [ ]:
is_male = True
is_tall = False

if is_male and is_tall:
  print("You are a tall male")
elif is_male and not(is_tall):
  print("You are a short male")
elif not(is_male) and is_tall:
  print("You are not a male but are tall")
else:
  print("You are either not male and not tall")

In [ ]:
is_male = True
is_tall = True

if is_male and is_tall:
  print("You are a tall male")
elif is_male and not(is_tall):
  print("You are a short male")
elif not(is_male) and is_tall:
  print("You are not a male but are tall")
else:
  print("You are either not male and not tall")

In [ ]:
is_male = False
is_tall = False

if is_male and is_tall:
  print("You are a tall male")
elif is_male and not(is_tall):
  print("You are a short male")
elif not(is_male) and is_tall:
  print("You are not a male but are tall")
else:
  print("You are either not male and not tall")

In [ ]:
is_male = False
is_tall = True

if is_male and is_tall:
  print("You are a tall male")
elif is_male and not(is_tall):
  print("You are a short male")
elif not(is_male) and is_tall:
  print("You are not a male but are tall")
else:
  print("You are either not male and not tall")

# If Statements & Comparisons

In [ ]:
def max_num(num1, num2, num3):
  if num1 >= num2 and num1 >= num3:
    return num1
  elif num2 >= num1 and num2 >= num3:
    return num2
  else:
    return num3


print(max_num(3, 4, 5))

5

In [ ]:
def max_num(num1, num2, num3):
  if num1 >= num2 and num1 >= num3:
    return num1
  elif num2 >= num1 and num2 >= num3:
    return num2
  else:
    return num3


print(max_num(3, 40, 5))

In [ ]:
def max_num(num1, num2, num3):
  if num1 >= num2 and num1 >= num3:
    return num1
  elif num2 >= num1 and num2 >= num3:
    return num2
  else:
    return num3


print(max_num(300, 40, 5))

In [ ]:
def max_num(num1, num2, num3):
  if num1 >= num2 and num1 >= num3:       # We can do if "dog" >= "dog" and num1 >= num3: 
    return num1                           #           if "dog" == "dog" and num1 >= num3: 
  elif num2 >= num1 and num2 >= num3:
    return num2                           # Comparison operators : ==   !=    <   >   <=    >=    
  else:
    return num3


print(max_num(3, 4, 5))

# Building a better Calculator

In [ ]:
num1 = float(input("Enter first number: "))
op = input("Enter operator: ")
num2 = float(input("Enter second number: "))

if op == "+":
  print(num1 + num2)
elif op == "-":
  print(num1 - num2)
elif op == "/":
  print(num1 / num2)
elif op == "*":
  print(num1 * num2)
else: 
  print("Invalid operator")

Enter first number: 5
Enter operator: ()
Enter second number: 4
Invalid operator

# Dictionaries

In [ ]:
monthConversions = {
    "Jan": "January",
    "Feb": "February",
    "Mar": "March",
    "Apr": "April",
    "May": "May",
    "Jun": "June",
    "Jul": "July",
    "Aug": "August",
    "Sep": "September",
    "Oct": "October",
    "Nov": "November",
    "Dec": "December"
}

print(monthConversions["Nov"])

November

In [ ]:
monthConversions = {
    "Jan": "January",
    "Feb": "February",
    "Mar": "March",
    "Apr": "April",
    "May": "May",
    "Jun": "June",
    "Jul": "July",
    "Aug": "August",
    "Sep": "September",
    "Oct": "October",
    "Nov": "November",
    "Dec": "December"
}

print(monthConversions.get("Dec"))

December

In [ ]:
monthConversions = {
    "Jan": "January",
    "Feb": "February",
    "Mar": "March",
    "Apr": "April",
    "May": "May",
    "Jun": "June",
    "Jul": "July",
    "Aug": "August",
    "Sep": "September",
    "Oct": "October",
    "Nov": "November",
    "Dec": "December"
}

print(monthConversions.get("Luv"))

Not a valid Key

In [ ]:
monthConversions = {
    "Jan": "January",
    "Feb": "February",
    "Mar": "March",
    "Apr": "April",
    "May": "May",
    "Jun": "June",
    "Jul": "July",
    "Aug": "August",
    "Sep": "September",
    "Oct": "October",
    "Nov": "November",
    "Dec": "December"
}

print(monthConversions.get("Luv", "Not a valid Key"))

In [ ]:
monthConversions = {
    0: "January",
    1: "February",
    10: "March",
    "Apr": "April",
    "May": "May",
    "Jun": "June",
    "Jul": "July",
    "Aug": "August",
    "Sep": "September",
    "Oct": "October",
    "Nov": "November",
    "Dec": "December"
}

print(monthConversions.get("Luv", "Not a valid Key"))

# While Loop

In [ ]:
i = 1
while i <= 10:
  print(i)
  i += 1

print("Done with loop")

1
2
3
4
5
6
7
8
9
10
Done with loop

# Building a Guessing Game

In [4]:
secret_word = "giraffe"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guesses = False

while guess != secret_word and not(out_of_guesses):
  if guess_count < guess_limit:
    guess = input("Enter guess: ")
    guess_count += 1
  else:
    out_of_guesses = True

if out_of_guesses:
  print("Out of Guesses, YOU LOSE!")
else:
  print("You win!")

Enter guess: fasd
Enter guess: efwef
Enter guess: sc
Out of Guesses, YOU LOSE!

# For Loop

In [5]:
for letter in "Giraffe Academy":
  print(letter)

G
i
r
a
f
f
e

A
c
a
d
e
m
y

In [6]:
friends = ["Jim", "Karen", "Kevin"]
for friend in friends:
  print(friend)

Jim
Karen
Kevin



```
# This is formatted as code
```

friends = ["Jim", "Karen", "Kevin"]
for name in friends:
  print(name)

In [8]:
friends = ["Jim", "Karen", "Kevin"]
for index in range(10):
  print(index)

3
4
5
6
7
8
9

In [ ]:
friends = ["Jim", "Karen", "Kevin"]
for index in range(3, 10):
  print(index)

In [9]:
friends = ["Jim", "Karen", "Kevin"]

for index in range(len(friends)):
  print(friends[index])

Jim
Karen
Kevin

In [11]:
friends = ["Jim", "Karen", "Kevin"]

for index in range(5):
  if index == 0:
    print("first Iteration")
  else:
    print("Not first")

first Iteration
Not first
Not first
Not first
Not first

# Exponent Function

In [12]:
print(2**3)

8

In [14]:
def raise_to_power(base_num, pow_num):
  result = 1
  for index in range(pow_num):
    result = result * base_num
  return result


print(raise_to_power(2, 3))

8

# 2D Lists & Nested Loops

2D Lists

In [15]:
number_grid = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0]
]

print(number_grid[0][0])

1

In [16]:
number_grid = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0]
]

print(number_grid[2][1])

8

Nested For Loop

In [18]:
number_grid = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [0]
]

for row in number_grid:
  for col in row:
    print(col)

1
2
3
4
5
6
7
8
9
0

# Building a Translator

Giraffe Language:

English vowels are replaced with 'g'

In [19]:
def translate(phrase):
  translation = ""
  for letter in phrase:
    if letter in "AEIOUaeiou":
      translation = translation + "g"
    else:
      translation = translation + letter
  return translation

print(translate(input("Enter a phrase: ")))

Enter a phrase: dog
dgg

In [ ]:
def translate(phrase):
  translation = ""
  for letter in phrase:
    if letter.lower() in "aeiou":
      translation = translation + "g"
    else:
      translation = translation + letter
  return translation

print(translate(input("Enter a phrase: ")))

In [20]:
def translate(phrase):
  translation = ""
  for letter in phrase:
    if letter.lower() in "aeiou":
      if letter.isupper():
        translation = translation + "G"
      else:  
        translation = translation + "g"
    else:
      translation = translation + letter
  return translation

print(translate(input("Enter a phrase: ")))

Enter a phrase: On
Gn

# Comments

In [21]:
print("Comments are fun")

Comments are fun

In [22]:
'''
dweufbwe
efowef
uuewefieuw
'''
# If you want to be a super python official then use '#' (even for multiple lines)
# This prints out a string

print("Comments are fun")

Comments are fun

# Try / Except

In [23]:
number = int(input("Enter a number: "))
print(number)

Enter a number: 4
4

In [24]:
number = int(input("Enter a number: "))
print(number)

Enter a number: ewiufebw

ValueError: ignored

In [25]:
try:
  number = int(input("Enter a number: "))
  print(number)
except:
  print("Invalid Input")

Enter a number: deow
Invalid Input

In [26]:
value = 10/0

try:
  number = int(input("Enter a number: "))
  print(number)
except:
  print("Invalid Input")

ZeroDivisionError: ignored

In [27]:
try:
  value = 10/0
  number = int(input("Enter a number: "))
  print(number)
except:
  print("Invalid Input")

Invalid Input

In [28]:
try:
  value = 10/0
  number = int(input("Enter a number: "))
  print(number)
except ZeroDivisionError:
  print("Divided by zero")
except ValueError:
  print("invalid input")

Divided by zero

In [29]:
try:
  
  number = int(input("Enter a number: "))
  print(number)
except ZeroDivisionError:
  print("Divided by zero")
except ValueError:
  print("invalid input")

Enter a number: eofn
invalid input

In [30]:
try:
  answer = 10/0
  number = int(input("Enter a number: "))
  print(number)
except ZeroDivisionError as err:
  print(err)
except ValueError:
  print("invalid input")

division by zero

# Reading Files

open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "r")      # read mode

open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "w")      # write mode

open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "a")      # append - add new info at the end of file

open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "r+")     # read and write

In [ ]:
employee_file = open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "r")

# check if the file is readable  
print(employee_file.readable())

employee_file.close()

# Output - True

In [ ]:
employee_file = open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "w")

# checks if the file is readable  
print(employee_file.readable())

employee_file.close()

# Output - False

In [ ]:
employee_file = open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "r")
  
print(employee_file.read())

employee_file.close()

'''
Output:
Jim - Salesman
Dwight - Salesman
Pam - Receptionist
Michael - Manager
Oscar - Accountant
'''

In [ ]:
employee_file = open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "r")
 
print(employee_file.readline())

employee_file.close()

'''
Output:
Jim - Salesman
'''

In [ ]:
employee_file = open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "r")

print(employee_file.readline())
print(employee_file.readline())

employee_file.close()

'''
Output:
Jim - Salesman
Dwight - Salesman
'''

In [ ]:
employee_file = open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "r")

print(employee_file.readline())
print(employee_file.readline())
print(employee_file.readline())
employee_file.close()

'''
Output:
Jim - Salesman
Dwight - Salesman
Pam - Receptionist
'''

In [ ]:
employee_file = open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "r")

print(employee_file.readlines()) # Puts the lines in Lists

employee_file.close()

'''
Output:
['Jim - Salesman\n', 'Dwight - Salesman\n', 'Pam - Receptionist\n', 'Michael - Manager\n', 'Oscar - Accountant\n']
'''

In [ ]:
employee_file = open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "r")

print(employee_file.readlines()[1])

employee_file.close()

'''
Output:
Dwight - Salesman
'''

In [ ]:
employee_file = open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "r")
for employee in employee_file.readlines():
  print(employee)
employee_file.close()

'''
Output:
Jim - Salesman

Dwight - Salesman

Pam - Receptionist

Michael - Manager

Oscar - Accountant

'''

# Writing to Files

In [ ]:
employee_file = open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "r")
print(employee_file.read())
employee_file.close()

In [ ]:
employee_file = open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "a")

employee_file.write("Toby - Human Resources")

employee_file.close()

In [ ]:
employee_file = open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "a")

employee_file.write("\nKelly - Customer Service") # appends this line on a new line

employee_file.close()

In [ ]:
employee_file = open("E:\Yujeeb Abbas Kashani\Python\Mike_Dane_freecodecamp\employees.txt", "w")

employee_file.write("\nKelly - Customer Service") # overrides the file because we used "w"
employee_file.close()

In [ ]:
employee_file = open(employees1.txt) # creates a new file

employee_file.write("\nKelly - Customer Service") # overrides the file because we used "w"
employee_file.close()

In [ ]:
employee_file = open("index.html", "w")

employee_file.write("<p>This is HTML</p>")

employee_file.close()

# Modules & Pip

In [ ]:
# useful_tools.py

In [ ]:
import useful_tools

print(useful_tools.roll_dice(10))  # Output: 4

# Classes & Objects

In [ ]:
# Student.py

class Student:
  
  def __init__(self, name, major, gpa, is_on_probation):
    self.name = name
    self.major = major
    self.gpa = gpa
    self.is_on_probation = is_on_probation

In [ ]:
# app.py

from Student import Student

student1 = Student("Jim", "Business", 3.1, False)
student2 = Student("Pam", "Art", 2.5, True)
print(student1.name)
print(student1.gpa)
print(student2.gpa)

# Building a Multiple Choice Quiz

# Object Functions

# Inheritance

# Python Interpreter